{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12 text-center bg-inverse">
                <h1 class="h1 text-white">{{ welcome }}</h1>
            </div>
            <div class="col-5">

            </div>
        </div>
    </div>

{% endblock %}